body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: 'Arial', sans-serif;
  overflow: hidden; /*disable scrolling*/
}



input[type=range][id="prognosisInput"] {
  -webkit-appearance: none;
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: bottom;
  background: #b5fc86cf;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  border-radius: 5px;

}

.mainContainer
{
  display: flex;
  flex-direction: row;
}



#prognosisInputDisplay {
  align-self: center;
  
  margin-bottom: 10px;
  margin-top: 0px;
}

#prognosisButtons {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prognosis{
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  position: relative;
  justify-content: center ;
  padding: 5px;
  background: rgba(255, 255, 255, 0.396);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.204); 

}

/* .container {
  margin-top: 0.25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0.679);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
} */


.containerCanvas {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.679);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* @media only screen and (min-width: 1601px) {


  .containerCanvas{
    margin-top: 2vh;
  }

  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }

  .rangeField {
    align-content: left;
    text-align: center;
    font-size: 18px;
    margin: 10px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

}


@media only screen and (min-width: 1024px) and (max-width: 1600px)  {
  .button {
    margin: 3vh;
    padding: 1vw 2vw;
    font-size: 1vw;
  }

  .rangeField {
    align-content: left;
    text-align: center;
    font-size: 18px;
    margin: 2px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

}


@media only screen and (min-width: 786px) and (max-width: 1023px) {
  .containerCanvas{
    margin-top: 2vh;
  }

  .button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }

  .rangeField {
    align-content: left;
    text-align: center;
    font-size: 18px;
    margin: 10px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

}


@media (max-width: 785px) {
  .button {
    margin: 1vw;
    padding: 1vw 3vw;
    font-size: 3vw;
  }

  .rangeField {
    align-content: left;
    text-align: center;
    font-size: 3vw;
    margin: 10px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7vw;
    height: 7vw;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

} */

@media screen and (orientation:portrait)
{

  #canvas {
    /* background: linear-gradient(to bottom, #e0ffc02a, #b4f5bb25, #9df5cb27); */
    height: 40vh;
    width: 48vw;  
    /* border: rgb(143, 243, 11) 2px solid; */
  }

  input[type=range][id="prognosisInput"] {
     
    width: 16px;
    height: 15vh;
    margin-left: 2vw;
    margin-right: 2vw; 
  
  }
  input[type=range][id="prognosisInput"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vw;
    height: 5vw;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }
 
  .prognosis{
    
    width: 85vw;
  }

  .button {

    margin: 1vw;
    /* padding: 0.5vh 3vw; */
    padding: 1vh 2vw;
    font-size: 2.5vw;
  }
  #continue-without-prog {

    margin-top: 0px;
    padding: 0.5vh 1.5vw; 
    font-size: 2vw;
  }

  #continue-with-prog {

    margin-top: 0px;
    padding: 1.5vh 2.5vw; 
    font-size: 2vw;
  }

  .rangeField {
    display: flex;
    flex-direction: column;
    align-content: left;
    text-align: center;
    font-size:2.8vw;
    margin: 10px;
     
   } 

  

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5vw;
    height: 5vw;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7vw;
    height: 7vw;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0;
  }
  
  .info-window {
    margin-left: -40vw;
    width: 40vw; 
    font-size: small;
  }

  .prog-info-window {
    margin-left: -10vw;
    width: 40vw; 
    font-size: small;
  }

  .continue-info-window {
    margin-left: -40vw;
    width: 40vw; 
    font-size: small;
  }

}

@media screen and (orientation:landscape)
{

  
  /* .prognosis{
    align-self: center; 
    height: 80%; 
  } */
  
  #canvas {
    /* background: linear-gradient(to bottom, #e0ffc02a, #b4f5bb25, #9df5cb27); */
    height: 45vh;
    width: 45vw;  
    /* border: black 1px solid; */
  }

  input[type=range][id="prognosisInput"] {
     
    width: 16px;
    height: 13vh;
    margin-left: 15px;
    margin-right: 15px;
  
  }
  input[type=range][id="prognosisInput"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

  .prognosis{
    
    width: 470px;
  }

  .button {
    margin: 5px;
    padding: 6px 17px; 

    font-size: auto;
  }
  #continue-with-prog {
    margin-top: 0px;
    padding: 1.2vh 1.8vw; 
    font-size: auto;
  }
  #continue-without-prog {
    margin-top: 0px;
    padding: 0.2vh 0.8vw; 
    font-size: auto;
  }

  .rangeField {
    display: flex;
    flex-direction: column;
    align-content: left;
    text-align: center;
    font-size: 90%;
    margin: 10px;
     
   } 

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 0; 
  }

  .info-window {
    margin-left: -5vw;
    width: 10vw; 
  }

  .prog-info-window {
    margin-left: -5vw;
    width: 20vw; 
  }
  
  .continue-info-window {
    margin-left: -10vw;
    width: 15vw; 
    font-size: small;
  }
  
}


/* .container canvas {
  border: 1px solid #141212;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 100%; 
  max-width: 1000px; 
  border-radius: 10px;
} */

.button {
 /* margin: 10px;
  padding: 10px 20px;
  font-size: 18px;*/
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
  /* height: auto;
  font-size: 1vw;
  width: auto; */
  white-space: nowrap; /* Prevent text from wrapping */
  outline: none;
  color: #ffffff;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #999;
  transition: background-color 0.3s, transform 0.3s;
  
  
}
.button svg {
  fill: #ffffff; /* Set the color of the SVG icon */
  width: 0.85em;
  height: 0.85em;
  vertical-align: middle;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}



.button-container  {
  
  display: flex;
  justify-content: center;
   
  margin-top: 0.25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0.396);
  
  /* background: rgba(255, 255, 255, 0.679); */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.range-container {
  
  display: flex;
  justify-content: center;
   
  
}

input[type=range] {
  -webkit-appearance: none;
  height: 10px;
  width: 100%;
  background: #def4cf;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  border-radius: 5px;
}



input[type=range]:hover {
  opacity: 1;
}

.success-style {
  color: green;
  font-size: 30px;
}

.error-style {
  color: red;
  font-size: 30px;
}

#statusSymbol {

  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  font-size: 30px;
  visibility: hidden;
}

.info-icon {
  font-size: auto;
  cursor: pointer;
  color: #4CAF50;
}

.prog-info-icon {
  font-size: auto;
  cursor: pointer;
  color: #4CAF50;
}

.info-container {
  position: relative;
  margin-left: 5px;
  align-self: center;

}
.prog-info-container {
  position: relative;
  margin-left: 5px;
 
}

.continue-info-container {
  position: relative;
  margin-left: 5px;

}

.info-window {
  visibility: hidden;
  
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 10%;
  
  opacity: 0;
  transition: opacity 0.3s;
  transform: none;
}
.prog-info-window {
  visibility: hidden;
  
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 10%;
  
  opacity: 0;
  transition: opacity 0.3s;
  transform: none;
}

.continue-info-window {
  visibility: hidden;
  
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 10%;
  
  opacity: 0;
  transition: opacity 0.3s;
  transform: none;
}



.info-container:hover .info-window {
  visibility: visible;
  opacity: 1;
}

.prog-info-container:hover .prog-info-window {
  visibility: visible;
  opacity: 1;
}
